html
  head
    style.
      html, body {
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      }
      body {background-color: #E8ECF0;}
      .container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      }
      .center {
      width: 80%;
      }
      h2 {
      margin-top:64px;
      margin-bottom:64px;
      color: #656565;
      width: 100%;
      text-align:center;
      }
      .text {
      background-color: white;
      color: #656565;
      padding: 24px 64px 24px 64px;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      }
    title BOTCHAN
  body
    .container
      .center
        h2 BOTCHAN
        .text
          | #{message}
          br
          | ユーザーには翌日9:00にプッシュ配信により通知されます。
